* {
  font-family: serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
}

.container {
  max-width: calc(100vw - 2rem);
  min-height: 100vh;
  min-width: 375px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  height: 100vh;
}
.main-menu-button {
  width: 20rem;
  text-transform: uppercase;
}

.button {
  background-color: lightgray;
  color: #000000;
  padding: 12px 0 12px;
  border-radius: 4px;
  margin: 3px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

.button:hover {
  background-color: #bdbdbd;
}

.form-input {
  display: flex;
  height: 1.8rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.23rem;
  padding-bottom: 1rem;
}
.form-input input {
  padding: 0.4rem;
  font-size: large;
  width: 70%;
  border: 1px solid black;
  border-radius: 0.21rem;
}
.form-input button {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: large;
  width: 30%;
}

.item-card {
  display: flex;
  justify-content: space-between;
  gap: 0.93rem;
  align-items: center;
  padding: 0.23rem;
  border: 1px dashed black;
  border-radius: 0.6rem;
  margin-bottom: 0.43rem;
}
.item-card-pointer {
  cursor: pointer;
}
.item-card span {
  font-size: large;
  word-break: break-all;
}
.item-card button {
  padding: 0.3rem;
  text-transform: uppercase;
  font-size: small;
}

.stock-opname-card {
  display: flex;
  justify-content: space-between;
  gap: 0.93rem;
  align-items: center;
  padding: 0.23rem;
  border: 1px dashed black;
  border-radius: 0.6rem;
  margin-bottom: 0.43rem;
}
.stock-opname-card-pointer {
  cursor: pointer;
}
.stock-opname-card span {
  display: flex;
  word-break: break-all;
  margin-bottom: 0.2rem;
  align-items: center;
}
.stock-opname-card button {
  padding: 0.3rem;
  text-transform: uppercase;
  font-size: small;
  width: 100%;
  margin-bottom: 0.24rem;
  font-weight: 600;
  border-radius: 0.33rem;
  border: 1px solid black;
  cursor: pointer;
}
.stock-opname-card .total {
  font-weight: bolder;
  font-size: larger;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  /* Style the buttons inside the tab */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.63rem 0px 0.63rem;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
  text-transform: uppercase;
  color: gray;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  border-bottom: 4px solid black;
  color: black;
  font-weight: 600;
}

.secondary-color {
  background-color: lightblue;
}

.lists-folder, .lists-item, .lists-stock {
  padding-bottom: 7rem;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  border: 1px solid black;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.9rem;
  background-color: white;
}
.navigation button {
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.danger {
  background-color: pink;
}

.badge {
  background-color: cyan;
  color: black;
  padding: 0.43rem;
  text-align: center;
  border-radius: 1rem;
  font-size: small;
  font-weight: bolder;
}


.modal-stock-opname {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: gainsboro;
  z-index: 1;
}

.form-stock-opname {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 70vh;
  gap: 0.5rem;
  padding: 1rem 0 1rem 0;
}

.form-stock-opname label {
  font-size: 1.5rem;
}

.modal-stock-opname input, select {
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid black;
}


/* > mobile */
@media (min-width: 600px) {
  .menu-wrapper {
    border: solid 1px black;
  }
  .container {
    border: solid 1px black;
    border-radius: 1rem;
  }
}/*# sourceMappingURL=style.css.map */